body{
    margin:0px;
    background-color: antiquewhite;

}
header{
    background-color: rgb(99, 89, 89);
    display:flex;
    justify-content: space-between;
    padding:10px 50px 10px 50px;
    align-items: center;

    h3{
        color:#FAEBD7;
        font-size:30px;
    }
}
nav{
    a{
        color:#FAEBD7;
        text-decoration:none;
        padding:5px;
        font-size:25px;
    }

}

main{
    background-image:url("https://www.grizette.com/wp-content/uploads/2021/04/Patisserie-Montpellier%C2%A9Edalin-AdobeStock.jpeg");
    height:100vh;
    width:100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;

    .containerDansLeMain{
        display:flex;
        flex-direction: column;
        margin:auto;
        justify-content: center;
        align-items: center;
        height:100%;
        
        #boutonAcheter{
        font-size:20px;
        width:100px;
        background-color: #FAEBD7;
        padding:10px;
        border-radius:5px;
        }
        #boutonExplorer{
            font-size:20px;
            width:250px;
            background-color: #FAEBD7;
            padding:10px;
            border-radius:5px;

        }
    }

    
}

#nomCommercial
{
            margin:0px;

}

#boutonAppel{

    background-color:#FAEBD7;
    border-radius:5px;
    color:#000000;
    padding:10px;
    font-size:20px;
    
}

#temoignages{
    h1{
        text-align: center;
    }
    #temoignagesCardsContainer{
        width:600px;
        margin:auto;
        display:flex;
        justify-content:center;
        gap:20px;
        .temoignageCard{
            border:solid rgb(0, 0, 0) 5px;
            border-radius: 15px;
            padding:10px;
            background-color: rgb(185, 169, 169);

        }
    }
}

#produits{
    height:500px;

    h1{
        text-align: center;
    }
    #produitsContainer{
        display:flex;
        gap:10px;
        justify-content: center;
        
        .productCard{
            width:200px;
            border: solid black 5px;
            border-radius:15px;
            background-color: rgba(128, 96, 96, 0.658);
            padding: 10px;
            color:rgb(250, 235, 215);

            img{
                border-radius:15px;
            }
        }
    }
}


#services{
        background-color: rgb(214, 198, 175);
        height: 500px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    h1{
        text-align: center;
    }
    #servicesContainer{
        display :flex;
        gap:20px;
        justify-content:center;
        .serviceContainer{
        width:200px;
        border: solid black 5px;
        border-radius:15px;
        padding: 5px;
        background-color: rgb(114, 89, 89);
        color:#ddcdb6;
        }
                /* serviceContainer.style.width = "200px";
        serviceContainer.style.border = "solid black 5px";
        serviceContainer.style.padding = "5px"; */
    }
}

footer{
    a{
        color:rgb(0, 0, 0);
        
    }
    #footerContenusContainer{
        padding:100px;
        display:flex;
        justify-content: space-between;
        #numTelephone{
            text-decoration: underline;
        }
        #navFooter{
            display:flex;
            flex-direction: column;
            font-size:20px;
            gap: 10px;
            font-family:Arial, Helvetica, sans-serif;
        }
    }
}

