body{
    margin:0px;
}
header{
    background-color: gray;
    display:flex;
    justify-content: space-between;
    padding:10px 50px 10px 50px;
    align-items: center;

}
nav{
    a{
        color:black;
        text-decoration:none;
        padding:5px;
    }

}

main{
    background-image:url("https://www.grizette.com/wp-content/uploads/2021/04/Patisserie-Montpellier%C2%A9Edalin-AdobeStock.jpeg");
    height:100vh;
    width:100%;
    background-image:cover;
}

#nomCommercial
{
            margin:0px;

}

#boutonAppel{

    background-color:black;
    color:white;
    border:none;
}

#temoignages{
    background-color: azure;
    h1{
        text-align: center;
    }
    #temoignagesCardsContainer{
        width:600px;
        margin:auto;
        display:flex;
        justify-content:center;
        gap:20px;
        .temoignageCard{
            border:solid rgb(0, 0, 0) 5px;
            border-radius: 15px;
            padding:10px;
        }
    }
}

#produits{
    height:500px;
    background-color: antiquewhite;
    h1{
        text-align: center;
    }
    #produitsContainer{
        display:flex;
        gap:10px;
        justify-content: center;

    }
}


#services{
    h1{
        text-align: center;
    }
    #servicesContainer{
        display :flex;
        gap:20px;
        justify-content:center;
    }
}