body{
    margin:0px;
}
header{
    background-color: gray;
    display:flex;
    justify-content: space-between;
    padding:10px 50px 10px 50px;
    align-items: center;

}
nav{
    a{
        color:black;
        text-decoration:none;
        padding:5px;
    }

}

main{
    background-image:url("https://www.grizette.com/wp-content/uploads/2021/04/Patisserie-Montpellier%C2%A9Edalin-AdobeStock.jpeg");
    height:100vh;
}

#nomCommercial
{
            margin:0px;

}

#boutonAppel{

    background-color:black;
    color:white;
    border:none;
}

#temoignages{
    background-color: azure;
}