body{
    margin:0px;
}
header{
    background-color: gray;
    display:flex;
    justify-content: space-between;
    padding:10px 50px 10px 50px;
}
nav{
    a{
        color:black;
        text-decoration:none;
    }

}

#nomCommercial
{
            margin:0px;

}

#boutonAppel{

    background-color:black;
    color:white;
    border:none;
}