body{
    margin:0px;
    background-color: antiquewhite;

}
header{
    background-color: rgb(230, 227, 227);
    display:flex;
    justify-content: space-between;
    padding:10px 50px 10px 50px;
    align-items: center;

}
nav{
    a{
        color:black;
        text-decoration:none;
        padding:5px;
    }

}

main{
    background-image:url("https://www.grizette.com/wp-content/uploads/2021/04/Patisserie-Montpellier%C2%A9Edalin-AdobeStock.jpeg");
    height:100vh;
    width:100%;
    background-image:cover;

    .containerDansLeMain{
        display:flex;
        flex-direction: column;
        width: 600px;
        margin:auto;

        #boutonAcheter{
        font-size:20px;
        width:100px;
        }
        #boutonExplorer{
            font-size:20px;
            width:250px;
        }
    }

    
}

#nomCommercial
{
            margin:0px;

}

#boutonAppel{

    background-color:black;
    color:white;
    border:none;
}

#temoignages{
    h1{
        text-align: center;
    }
    #temoignagesCardsContainer{
        width:600px;
        margin:auto;
        display:flex;
        justify-content:center;
        gap:20px;
        .temoignageCard{
            border:solid rgb(0, 0, 0) 5px;
            border-radius: 15px;
            padding:10px;
        }
    }
}

#produits{
    height:500px;

    h1{
        text-align: center;
    }
    #produitsContainer{
        display:flex;
        gap:10px;
        justify-content: center;
        .productCard{
            width:200px;
            border: solid black 5px;
            border-radius:15px;

        }
    }
}


#services{
    h1{
        text-align: center;
    }
    #servicesContainer{
        display :flex;
        gap:20px;
        justify-content:center;
        .serviceContainer{
        width:200px;
        border: solid black 5px;
        border-radius:15px;
        padding: 5px;
        }
                /* serviceContainer.style.width = "200px";
        serviceContainer.style.border = "solid black 5px";
        serviceContainer.style.padding = "5px"; */
    }
}

footer{
    a{
        color:rgb(0, 0, 0);
        
    }
    #footerContenusContainer{
        padding:100px;
        display:flex;
        justify-content: space-between;
        #numTelephone{
            text-decoration: underline;
        }
    }
}

